# Populate this file and save it as .env before deployment.

# PUID and PGID must be populated using:
# id -u csky
# id -g csky
PUID=
PGID=
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
GUILD_ID=YOUR_GUILD_ID
LOG_CHANNEL_ID=YOUR_LOG_CHANNEL
MEMBER_COUNT_CHANNEL_ID=YOUR_MEMBER_CHANNEL
COUNTING_CHANNEL_ID=YOUR_COUNTING_CHANNEL
STAFF_ROLE_ID=YOUR_STAFF_ROLE
MEMBER_ROLE_ID=YOUR_MEMBER_ROLE
AI_KEY=YOUR_AI_KEY
SUPPORT_CATEGORY_ID=YOUR_SUPPORT_CATEGORY
TICKET_CHANNEL_ID=YOUR_TICKET_CHANNEL
TICKET_NORMAL_CATEGORY=YOUR_TICKET_CATEGORY
TICKET_ORDER_CATEGORY=YOUR_TICKET_CATEGORY
TICKET_PLUGIN_GEN_CATEGORY=YOUR_TICKET_CATEGORY
TICKET_REWARD_CATEGORY=YOUR_TICKET_CATEGORY
TICKET_STAFF_APP_CATEGORY=YOUR_TICKET_CATEGORY
PLUGIN_GEN_ACCESS_ROLE_ID=YOUR_ROLE_ID
LICENSE_GEN_ACCESS_IDS=id1,id2,id3
